
<div class="container">
  <h2>Edit flat</h2>
  <%= simple_form_for(@flat) do |flat| %>
  <%= flat.error_notification %>
  <%= flat.error_notification message: flat.errors[:base].to_sentence if flat.object.errors[:base].present?%>

  <div class="form-inputs">
    <%= flat.input :name %>
    <%= flat.input :address %>
    <%= flat.input :description %>
    <%= flat.input :price_per_night %>
    <%= flat.input :number_of_guests %>
    <%= flat.input :picture_url %> 
  </div>

  <div class="form-actions py-3" >
    <%= flat.button :submit , :class => "btn btn-primary"%>
    <%= link_to  "Back", flat_path , :class => "btn btn-danger" %>
  </div>

<% end %>
</div>
