<!DOCTYPE html>
<html lang="es">
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light" >
    <div class="container-fluid" id = "navbar">
      <a class="navbar-brand" href="/flats">Simple Airbnb</a>
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        <button class="btn btn-outline-primary" type="submit">Add Flat</button>
      </form>
    </div>
  </nav>
  <%= yield %>
  </body>
</html>
