<!DOCTYPE html>
<html lang="es">
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-light bg-light" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/flats">Simple Airbnb</a>
      <form class="d-flex my-2 my-lg-0" id = "navbar-content">
        <button class="btn btn-outline-primary my-2 my-sm-0 ml-2" type="submit"><%= link_to  "New Flat", new_flat_path %></button>
      </form>
    </div>
  </nav>

  <div class="container mt-4 d-flex flex-column align-items-center">
      <%= yield %>
  </div>
  </body>
</html>
